rootfs/etc/node-red/flows.json
[{"id":"9d41a1660accdb5c","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"099b387e066c7015","type":"tab","label":"Monitor","disabled":false,"info":"Pylontech US2000c/US3000/US5000 - Scans séparés\nScan DATA (60s): pwr + stat\nScan INFO (5min): info\n©JLM 2026"},{"id":"931d640c9c0727f5","type":"tab","label":"BAT → CSV","disabled":false,"info":"Scan BAT (bat 1 à 15) toutes les heures\nEcrit un CSV compatible Excel (séparateur ;)\n©JLM 2026"},{"id":"ha-api-tab-001","type":"tab","label":"Export Entités HA","disabled":true,"info":""},{"id":"cdf964dc2b62fe0d","type":"serial-port","name":"","serialport":"/dev/serial/by-id/usb-Prolific_Technology_Inc._ATEN_USB_to_Serial_Bridge-if00-port0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\r","bin":"false","out":"char","addchar":"","responsetimeout":"500"},{"id":"fb544666f84a5fb9","type":"mqtt-broker","name":"HAOS Mosquitto","broker":"core-mosquitto.local.hass.io","port":"1883","clientid":"nodered_pylontech","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f4cf81e4fcc39da7","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["d84e3b8f674ad246"]]},{"id":"d84e3b8f674ad246","type":"function","z":"9d41a1660accdb5c","name":"help","func":"msg.payload = \"help\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":160,"wires":[["26215f6f598a42a8"]]},{"id":"fbaac26fc678f150","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["cc1f0de07b4be321"]]},{"id":"cc1f0de07b4be321","type":"function","z":"9d41a1660accdb5c","name":"bat","func":"msg.payload = \"bat 10\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["26215f6f598a42a8"]]},{"id":"e688d44ee07f9655","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["1f3ecc4c719aa332"]]},{"id":"1f3ecc4c719aa332","type":"function","z":"9d41a1660accdb5c","name":"data","func":"msg.payload = \"data 1\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":240,"wires":[["26215f6f598a42a8"]]},{"id":"3dad23e031837afe","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[["cb5f606d85a42e80"]]},{"id":"cb5f606d85a42e80","type":"function","z":"9d41a1660accdb5c","name":"getpwr","func":"msg.payload = \"getpwr\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":280,"wires":[["26215f6f598a42a8"]]},{"id":"22a5110aa7a0aa95","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":320,"wires":[["65c3a2dd603e39b4"]]},{"id":"65c3a2dd603e39b4","type":"function","z":"9d41a1660accdb5c","name":"soh","func":"msg.payload = \"soh\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":320,"wires":[["26215f6f598a42a8"]]},{"id":"17c84cb854065232","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":360,"wires":[["405b85bb9346c3e7"]]},{"id":"405b85bb9346c3e7","type":"function","z":"9d41a1660accdb5c","name":"time","func":"msg.payload = \"time\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":360,"wires":[["26215f6f598a42a8"]]},{"id":"26215f6f598a42a8","type":"link out","z":"9d41a1660accdb5c","name":"link out 1","mode":"link","links":["bfa38e9aa062d3dd"],"x":515,"y":440,"wires":[]},{"id":"3dc63c60a6b62668","type":"serial out","z":"9d41a1660accdb5c","name":"TX → Pylontech","serial":"cdf964dc2b62fe0d","x":700,"y":100,"wires":[]},{"id":"bfa38e9aa062d3dd","type":"link in","z":"9d41a1660accdb5c","name":"link in 1","links":["26215f6f598a42a8"],"x":545,"y":100,"wires":[["3dc63c60a6b62668"]]},{"id":"57466aea7ababf7e","type":"function","z":"9d41a1660accdb5c","name":"info","func":"msg.payload = \"info 1\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":120,"wires":[["26215f6f598a42a8"]]},{"id":"2b09063075100fef","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["57466aea7ababf7e"]]},{"id":"175d3f3d10c337c0","type":"function","z":"9d41a1660accdb5c","name":"pwr","func":"msg.payload = \"pwr 3\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":400,"wires":[["26215f6f598a42a8"]]},{"id":"67c74c4371260f99","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":400,"wires":[["175d3f3d10c337c0"]]},{"id":"7366bcd4a8607784","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[["7764923bd9592a93"]]},{"id":"7764923bd9592a93","type":"function","z":"9d41a1660accdb5c","name":"login debug","func":"msg.payload = \"login debug\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":480,"wires":[["26215f6f598a42a8"]]},{"id":"ee123e0d9508d0d2","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":580,"wires":[["d87b1e87aab7a65a"]]},{"id":"d87b1e87aab7a65a","type":"function","z":"9d41a1660accdb5c","name":"datalist history coul","func":"msg.payload = \"datalist history coul\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":580,"wires":[["26215f6f598a42a8"]]},{"id":"4a6251db16e41dfc","type":"inject","z":"9d41a1660accdb5c","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":640,"wires":[["35c1b05e0247fbf5"]]},{"id":"35c1b05e0247fbf5","type":"function","z":"9d41a1660accdb5c","d":true,"name":"stat 1","func":"msg.payload = \"stat 1\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":640,"wires":[["26215f6f598a42a8"]]},{"id":"e9b4f9b6d7e2bfe0","type":"serial in","z":"9d41a1660accdb5c","name":"RX ← Pylontech","serial":"cdf964dc2b62fe0d","x":115,"y":1125,"wires":[["3c28b24e7743b1c2","cc2c412c3c39de7c","04602c35e13f18bb"]]},{"id":"3c28b24e7743b1c2","type":"switch","z":"9d41a1660accdb5c","name":"test cycle + soh","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"CYCLE Times","vt":"str"},{"t":"cont","v":"SOH","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":320,"y":1120,"wires":[["a081cdb02a40865f"],["11eb6781bc1df461"],["8a092f47b4e3bf8e"]]},{"id":"a081cdb02a40865f","type":"debug","z":"9d41a1660accdb5c","name":"Cycles","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1080,"wires":[]},{"id":"11eb6781bc1df461","type":"debug","z":"9d41a1660accdb5c","name":"SOH","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":1120,"wires":[]},{"id":"8a092f47b4e3bf8e","type":"debug","z":"9d41a1660accdb5c","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":1180,"wires":[]},{"id":"cc1f08beb3a3c0b6","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":680,"wires":[["781f051e0d211b13"]]},{"id":"781f051e0d211b13","type":"function","z":"9d41a1660accdb5c","name":"stat 1 à 15","func":"// Node-RED Function Node : Poll stat 1-15 Pylontech\n// Boucle stat 1 à 15 + \\n pour envoi sériel\n// Sortie 0 → serial-in | topic \"pylontech_stat_loop\"\n\nlet cmd = '';\nfor (let i = 1; i <= 15; i++) {\n    cmd += `stat ${i}\\n`;\n}\n\nmsg.payload = cmd;\nmsg.topic = \"pylontech_stat_loop\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":680,"wires":[["26215f6f598a42a8"]]},{"id":"cbf50275a7164a91","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":760,"wires":[["0a1d7582150e3645"]]},{"id":"0a1d7582150e3645","type":"function","z":"9d41a1660accdb5c","name":"config cocar","func":"msg.payload = \"config cocar\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":760,"wires":[["26215f6f598a42a8"]]},{"id":"6bde6d79972b53a3","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":800,"wires":[["99328b61b733fe4c"]]},{"id":"99328b61b733fe4c","type":"function","z":"9d41a1660accdb5c","name":"config povr","func":"msg.payload = \"config povr\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":800,"wires":[["26215f6f598a42a8"]]},{"id":"fbc5b651d0626cd5","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":840,"wires":[["24f14ba65b428102"]]},{"id":"24f14ba65b428102","type":"function","z":"9d41a1660accdb5c","name":"config save","func":"msg.payload = \"config save\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":840,"wires":[["26215f6f598a42a8"]]},{"id":"127491141e0e3076","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":880,"wires":[["a39ed9459b04c1dc"]]},{"id":"a39ed9459b04c1dc","type":"function","z":"9d41a1660accdb5c","name":"config pov","func":"msg.payload = \"config pov\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":880,"wires":[["26215f6f598a42a8"]]},{"id":"cc2c412c3c39de7c","type":"function","z":"9d41a1660accdb5c","name":"function 1","func":"// Nœud Cycles amélioré (input serial lines)\nif (msg.payload.includes(\"CYCLE Times\")) {\n    let match = msg.payload.match(/CYCLE Times : (\\\\d+)/);\n    if (match) {\n        let batId = flow.get(\"current_stat_id\") || 1;  // Track via topic\n        let cycles = parseInt(match[1]);\n        global.set(`pylontech_bat${batId}_cycles`, cycles);\n        msg.payload = {bat: batId, cycles};\n        flow.set(\"current_stat_id\", batId + 1);\n    }\n    return msg;\n}\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":1260,"wires":[["c66e9698d19ed00a","d880c3c0f9a3aab8"]]},{"id":"c66e9698d19ed00a","type":"debug","z":"9d41a1660accdb5c","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":1260,"wires":[]},{"id":"04602c35e13f18bb","type":"debug","z":"9d41a1660accdb5c","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":1060,"wires":[]},{"id":"fb87f247bcdd1898","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":520,"wires":[["caf4914e56c5b8da"]]},{"id":"caf4914e56c5b8da","type":"function","z":"9d41a1660accdb5c","name":"logout","func":"msg.payload = \"logout\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":520,"wires":[["26215f6f598a42a8"]]},{"id":"d880c3c0f9a3aab8","type":"join","z":"9d41a1660accdb5c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":440,"y":1340,"wires":[["52dbccb9ebb3628f"]]},{"id":"52dbccb9ebb3628f","type":"debug","z":"9d41a1660accdb5c","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":1340,"wires":[]},{"id":"964a14cbfc56a284","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":1020,"wires":[["fdc38198607a085f"]]},{"id":"fdc38198607a085f","type":"function","z":"9d41a1660accdb5c","name":"retour à la ligne","func":"msg.payload = \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1020,"wires":[["26215f6f598a42a8"]]},{"id":"08ac595facf5672b","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":980,"wires":[["22391d7a3ac8a434"]]},{"id":"22391d7a3ac8a434","type":"function","z":"9d41a1660accdb5c","name":"bmicrdcomm","func":"msg.payload = \"bmicrdcomm 2\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":980,"wires":[["26215f6f598a42a8"]]},{"id":"8fe5ec4fe0138a66","type":"function","z":"9d41a1660accdb5c","name":" bmice 0","func":"msg.payload = \" bmice 0\" + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":920,"wires":[["26215f6f598a42a8"]]},{"id":"13d1bff85371867f","type":"inject","z":"9d41a1660accdb5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":130,"y":920,"wires":[["8fe5ec4fe0138a66"]]},{"id":"0659e8590cc7ddd1","type":"inject","z":"099b387e066c7015","name":"⚡ Init au boot","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":140,"y":40,"wires":[["33810f784fdbc18b"]]},{"id":"33810f784fdbc18b","type":"function","z":"099b387e066c7015","name":"Reset Discovery au boot","func":"// ========== INITIALISATION AU DÉMARRAGE NODE-RED ==========\nflow.set('pylontech_discoverySent', false);\nflow.set('pylontech_lastBattCount', 0);\nnode.warn('⚡ Pylontech – Variables discovery réinitialisées au boot');\nnode.status({ fill: 'green', shape: 'dot', text: 'Discovery reset OK' });\nreturn null;","outputs":0,"x":380,"y":40,"wires":[]},{"id":"663737d3f480cd0f","type":"inject","z":"099b387e066c7015","d":true,"name":"🔄 Scan DATA 15s","props":[{"p":"payload"}],"repeat":"15","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["bd5fdb9242d62d05"]]},{"id":"bd5fdb9242d62d05","type":"function","z":"099b387e066c7015","name":"Start Scan DATA","func":"if (flow.get('pylonBatScanning')) {\n    node.warn('⚠️ Bat CSV scan actif – DATA scan ignoré');\n    return null;\n}\n// Scan DATA : pwr + stat (données temps réel)\nflow.set('pylonBuffer', '');\nflow.set('pylonIndex', 1);\nflow.set('pylonCmdIndex', 0);\nflow.set('pylonBatteries', {});\nflow.set('pylonScanning', true);\n\nconst COMMANDS = [\n    { cmd: 'pwr',  label: 'Power Data' },\n    { cmd: 'stat', label: 'Statistics' }\n];\n\nflow.set('pylonCommands', COMMANDS);\nnode.status({ fill: 'blue', shape: 'dot', text: 'Scan DATA – Bat 1 pwr...' });\n\nmsg.payload = 'pwr 1\\n';\nmsg.scanCommands = COMMANDS;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":100,"wires":[["d1d67987204340da"]]},{"id":"c8144d9b99fa0839","type":"inject","z":"099b387e066c7015","d":true,"name":"📋 Scan INFO 1min","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["b0e10d62157f198f"]]},{"id":"b0e10d62157f198f","type":"function","z":"099b387e066c7015","name":"Start Scan INFO","func":"if (flow.get('pylonBatScanning')) {\n    node.warn('⚠️ Bat CSV scan actif – INFO scan ignoré');\n    return null;\n}\n// Scan INFO : info seulement (données système)\nflow.set('pylonBuffer', '');\nflow.set('pylonIndex', 1);\nflow.set('pylonCmdIndex', 0);\nflow.set('pylonBatteries', {});\nflow.set('pylonScanning', true);\n\nconst COMMANDS = [\n    { cmd: 'info', label: 'System Info' }\n];\n\nnode.status({ fill: 'blue', shape: 'dot', text: 'Scan INFO – Bat 1 info...' });\n\nflow.set('pylonCommands', COMMANDS);\nmsg.payload = 'info 1\\n';\nmsg.scanCommands = COMMANDS;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":160,"wires":[["d1d67987204340da","81d48b8d89dacd61"]]},{"id":"d1d67987204340da","type":"serial out","z":"099b387e066c7015","name":"TX → Pylontech","serial":"cdf964dc2b62fe0d","x":660,"y":140,"wires":[]},{"id":"71dc922f2791b95c","type":"serial in","z":"099b387e066c7015","d":true,"name":"RX ← Pylontech","serial":"cdf964dc2b62fe0d","x":140,"y":300,"wires":[["024181c73ac24047","797ded03ed56ebd0","54b2e5ce49236216"]]},{"id":"024181c73ac24047","type":"function","z":"099b387e066c7015","name":"Process Response V2.2","func":"// ========== PYLONTECH – PROCESS RESPONSE V2.2 ==========\n// Architecture multi-commandes avec scans séparés\n// Supporte : pwr, stat, info (scan indépendants)\n// =======================================================\n\n// Ignorer si pas de scan en cours\nif (!flow.get('pylonScanning')) return null;\n\n// -----------------------------------------------------------------------\n// 1. RÉCUPÉRATION DE LA CONFIGURATION DU SCAN EN COURS\n// -----------------------------------------------------------------------\n// Les COMMANDS sont passées par le nœud \"Start Scan\" dans msg.scanCommands\nconst COMMANDS = flow.get('pylonCommands') || [\n    { cmd: 'pwr',  label: 'Power Data' },\n    { cmd: 'stat', label: 'Statistics' }\n];\n\n// -----------------------------------------------------------------------\n// 2. ACCUMULATEUR & CONTEXTE\n// -----------------------------------------------------------------------\nlet buffer       = flow.get('pylonBuffer')     || '';\nlet index        = flow.get('pylonIndex')      || 1;\nlet cmdIndex     = flow.get('pylonCmdIndex')   || 0;\nlet batteries    = flow.get('pylonBatteries')  || {};\n\nbuffer += msg.payload;\nflow.set('pylonBuffer', buffer);\n\n// Attendre la fin de réponse\nif (!buffer.includes('$$')) return null;\n\n// Réponse complète reçue\nconst currentCmd = COMMANDS[cmdIndex].cmd;\nflow.set('pylonBuffer', '');\n\n// -----------------------------------------------------------------------\n// 3. DÉTECTION BATTERIE ABSENTE\n// -----------------------------------------------------------------------\nconst notPresent = buffer.includes('is not present') ||\n                   buffer.includes('Invalid command or fail') ||\n                   buffer.includes('Target device is not present');\n\nif (notPresent) {\n    // Fin du scan → publier tout\n    flow.set('pylonScanning', false);\n    const count = Object.keys(batteries).length;\n    \n    // Agrégats globaux\n    let totalVoltage = 0, totalCurrent = 0, totalCapacity = 0, minSoc = 100, maxSoc = 0;\n    for (const b of Object.values(batteries)) {\n        const pwr = b.pwr || {};\n        if (pwr.voltage_V)     totalVoltage  += pwr.voltage_V;\n        if (pwr.current_A)     totalCurrent  += pwr.current_A;\n        if (pwr.capacity_mAh)  totalCapacity += pwr.capacity_mAh;\n        if (pwr.soc_percent !== null && pwr.soc_percent !== undefined) {\n            if (pwr.soc_percent < minSoc) minSoc = pwr.soc_percent;\n            if (pwr.soc_percent > maxSoc) maxSoc = pwr.soc_percent;\n        }\n    }\n    \n    const result = {\n        timestamp     : new Date().toISOString(),\n        battery_count : count,\n        summary: {\n            avg_voltage_V      : count ? +(totalVoltage  / count).toFixed(3) : null,\n            total_current_A    : +totalCurrent.toFixed(3),\n            total_capacity_mAh : totalCapacity,\n            min_soc_percent    : minSoc,\n            max_soc_percent    : maxSoc,\n            total_power_W      : count ? +((totalVoltage / count) * totalCurrent).toFixed(1) : null\n        },\n        batteries: batteries\n    };\n    \n    const scanType = COMMANDS[0].cmd === 'info' ? 'INFO' : 'DATA';\n    node.status({ fill: 'green', shape: 'dot', text: `OK ${scanType} – ${count} bat. @ ${new Date().toLocaleTimeString()}` });\n    return [null, { payload: result, topic: 'pylontech/status' }];\n}\n\n// -----------------------------------------------------------------------\n// 4. PARSERS PAR COMMANDE\n// -----------------------------------------------------------------------\n\n// Utilitaire extraction regex\nfunction extract(pattern) {\n    const m = buffer.match(pattern);\n    return m ? m[1].trim() : null;\n}\nfunction extractInt(pattern) {\n    const v = extract(pattern);\n    return v !== null ? parseInt(v, 10) : null;\n}\n\n// --- PARSER : pwr ---\nfunction parsePwr() {\n    const voltage_mV  = extractInt(/Voltage\\s*:\\s*(\\d+)\\s*mV/);\n    const current_mA  = extractInt(/Current\\s*:\\s*(-?\\d+)\\s*mA/);\n    const temp_mC     = extractInt(/Temperature\\s*:\\s*(\\d+)\\s*mC/);\n    const soc         = extractInt(/Coulomb\\s*:\\s*(\\d+)\\s*%/);\n    const capacity_mAh= extractInt(/Total Coulomb\\s*:\\s*(\\d+)\\s*mAH/);\n    const maxVolt_mV  = extractInt(/Max Voltage\\s*:\\s*(\\d+)\\s*mV/);\n    const cycles      = extractInt(/Charge Times\\s*:\\s*(\\d+)/);\n    \n    return {\n        voltage_V        : voltage_mV  !== null ? +(voltage_mV  / 1000).toFixed(3) : null,\n        current_A        : current_mA  !== null ? +(current_mA  / 1000).toFixed(3) : null,\n        temperature_C    : temp_mC     !== null ? +(temp_mC     / 1000).toFixed(1) : null,\n        soc_percent      : soc,\n        capacity_mAh     : capacity_mAh,\n        max_voltage_V    : maxVolt_mV  !== null ? +(maxVolt_mV  / 1000).toFixed(3) : null,\n        charge_cycles    : cycles,\n        power_W          : (voltage_mV !== null && current_mA !== null)\n                            ? +((voltage_mV / 1000) * (current_mA / 1000)).toFixed(1)\n                            : null,\n        status_basic        : extract(/Basic Status\\s*:\\s*(\\w+)/),\n        status_voltage      : extract(/Volt Status\\s*:\\s*(\\w+)/),\n        status_current      : extract(/Current Status\\s*:\\s*(\\w+)/),\n        status_temperature  : extract(/Tmpr\\.\\s*Status\\s*:\\s*(\\w+)/),\n        status_coulomb      : extract(/Coul\\.\\s*Status\\s*:\\s*(\\w+)/),\n        status_soh          : extract(/Soh\\.\\s*Status\\s*:\\s*(\\w+)/),\n        heater_status       : extract(/Heater Status\\s*:\\s*(\\w+)/),\n        bat_events          : extract(/Bat Events\\s*:\\s*(0x[0-9a-fA-F]+)/),\n        power_events        : extract(/Power Events\\s*:\\s*(0x[0-9a-fA-F]+)/),\n        system_fault        : extract(/System Fault\\s*:\\s*(0x[0-9a-fA-F]+)/)\n    };\n}\n\n// --- PARSER : stat ---\nfunction parseStat() {\n    return {\n        device_address      : extractInt(/Device address\\s+(\\d+)/),\n        data_items          : extractInt(/Data Items\\s*:\\s*(\\d+)/),\n        hisdata_items       : extractInt(/HisData Items\\s*:\\s*(\\d+)/),\n        charge_count        : extractInt(/Charge Cnt\\.\\s*:\\s*(\\d+)/),\n        discharge_count     : extractInt(/Discharge Cnt\\.\\s*:\\s*(\\d+)/),\n        charge_times        : extractInt(/Charge Times\\s*:\\s*(\\d+)/),\n        status_count        : extractInt(/Status Cnt\\.\\s*:\\s*(\\d+)/),\n        idle_times          : extractInt(/Idle Times\\s*:\\s*(\\d+)/),\n        coc_times           : extractInt(/COC Times\\s*:\\s*(\\d+)/),\n        coc2_times          : extractInt(/COC2 Times\\s*:\\s*(\\d+)/),\n        doc_times           : extractInt(/DOC Times\\s*:\\s*(\\d+)/),\n        doc2_times          : extractInt(/DOC2 Times\\s*:\\s*(\\d+)/),\n        coca_times          : extractInt(/COCA Times\\s*:\\s*(\\d+)/),\n        doca_times          : extractInt(/DOCA Times\\s*:\\s*(\\d+)/),\n        sc_times            : extractInt(/SC Times\\s*:\\s*(\\d+)/),\n        bat_ov_times        : extractInt(/Bat OV Times\\s*:\\s*(\\d+)/),\n        bat_hv_times        : extractInt(/Bat HV Times\\s*:\\s*(\\d+)/),\n        bat_lv_times        : extractInt(/Bat LV Times\\s*:\\s*(\\d+)/),\n        bat_uv_times        : extractInt(/Bat UV Times\\s*:\\s*(\\d+)/),\n        bat_slp_times       : extractInt(/Bat SLP Times\\s*:\\s*(\\d+)/),\n        pwr_ov_times        : extractInt(/Pwr OV Times\\s*:\\s*(\\d+)/),\n        pwr_hv_times        : extractInt(/Pwr HV Times\\s*:\\s*(\\d+)/),\n        pwr_lv_times        : extractInt(/Pwr LV Times\\s*:\\s*(\\d+)/),\n        pwr_uv_times        : extractInt(/Pwr UV Times\\s*:\\s*(\\d+)/),\n        pwr_slp_times       : extractInt(/Pwr SLP Times\\s*:\\s*(\\d+)/),\n        cot_times           : extractInt(/COT Times\\s*:\\s*(\\d+)/),\n        cut_times           : extractInt(/CUT Times\\s*:\\s*(\\d+)/),\n        dot_times           : extractInt(/DOT Times\\s*:\\s*(\\d+)/),\n        dut_times           : extractInt(/DUT Times\\s*:\\s*(\\d+)/),\n        cht_times           : extractInt(/CHT Times\\s*:\\s*(\\d+)/),\n        clt_times           : extractInt(/CLT Times\\s*:\\s*(\\d+)/),\n        dht_times           : extractInt(/DHT Times\\s*:\\s*(\\d+)/),\n        dlt_times           : extractInt(/DLT Times\\s*:\\s*(\\d+)/),\n        shut_times          : extractInt(/Shut Times\\s*:\\s*(\\d+)/),\n        reset_times         : extractInt(/Reset Times\\s*:\\s*(\\d+)/),\n        rv_times            : extractInt(/RV Times\\s*:\\s*(\\d+)/),\n        input_ov_times      : extractInt(/Input OV Times\\s*:\\s*(\\d+)/),\n        soh_times           : extractInt(/SOH Times\\s*:\\s*(\\d+)/),\n        bmicerr_times       : extractInt(/BMICERR Times\\s*:\\s*(\\d+)/),\n        cycle_times         : extractInt(/CYCLE Times\\s*:\\s*(\\d+)/),\n        soh_percent         : extractInt(/SOH\\s*:\\s*(\\d+)/),\n        pwr_percent         : extractInt(/Pwr Percent\\s*:\\s*(\\d+)/),\n        pwr_coulomb         : extractInt(/Pwr Coulomb\\s*:\\s*(\\d+)/),\n        dsg_cap             : extractInt(/Dsg Cap\\s*:\\s*(\\d+)/),\n        ht_05c_count        : extractInt(/HT@0\\.5C Cnt\\s*:\\s*(\\d+)/),\n        lt_05c_count        : extractInt(/LT@0\\.5C Cnt\\s*:\\s*(\\d+)/),\n        ht_count            : extractInt(/HT Cnt\\s*:\\s*(\\d+)/),\n        lt_count            : extractInt(/LT Cnt\\s*:\\s*(\\d+)/),\n        lv_count            : extractInt(/LV Cnt\\s*:\\s*(\\d+)/),\n        lifewarn_times      : extractInt(/LifeWarn Times\\s*:\\s*(\\d+)/),\n        lifealarm_times     : extractInt(/LifeAlarm Times\\s*:\\s*(\\d+)/)\n    };\n}\n\n// --- PARSER : info ---\nfunction parseInfo() {\n    const maxDischgStr = extract(/Max Dischg Curr\\s*:\\s*(-?\\d+)mA/);\n    const maxChargeStr = extract(/Max Charge Curr\\s*:\\s*(\\d+)mA/);\n    \n    return {\n        device_address       : extractInt(/Device address\\s*:\\s*(\\d+)/),\n        manufacturer         : extract(/Manufacturer\\s*:\\s*(.+)/),\n        device_name          : extract(/Device name\\s*:\\s*(.+)/),\n        board_version        : extract(/Board version\\s*:\\s*(.+)/),\n        board                : extract(/Board\\s*:\\s*(.+)/),\n        main_soft_version    : extract(/Main Soft version\\s*:\\s*(.+)/),\n        soft_version         : extract(/Soft version\\s*:\\s*(.+)/),\n        boot_version         : extract(/Boot version\\s*:\\s*(.+)/),\n        comm_version         : extract(/Comm version\\s*:\\s*(.+)/),\n        release_date         : extract(/Release Date\\s*:\\s*(.+)/),\n        barcode              : extract(/Barcode\\s*:\\s*(.+)/),\n        specification        : extract(/Specification\\s*:\\s*(.+)/),\n        cell_number          : extractInt(/Cell Number\\s*:\\s*(\\d+)/),\n        max_discharge_curr_A : maxDischgStr ? +(parseInt(maxDischgStr, 10) / 1000).toFixed(1) : null,\n        max_charge_curr_A    : maxChargeStr ? +(parseInt(maxChargeStr, 10) / 1000).toFixed(1) : null,\n        epon_port_rate       : extractInt(/EPONPort rate\\s*:\\s*(\\d+)/),\n        console_port_rate    : extractInt(/Console Port rate\\s*:\\s*(\\d+)/)\n    };\n}\n\n// Routeur de parsers\nconst PARSERS = {\n    pwr  : parsePwr,\n    stat : parseStat,\n    info : parseInfo\n};\n\n// -----------------------------------------------------------------------\n// 5. STOCKAGE DES DONNÉES\n// -----------------------------------------------------------------------\nconst batKey = `battery_${index}`;\nif (!batteries[batKey]) {\n    batteries[batKey] = { index: index };\n}\n\n// Parser et stocker dans un sous-objet\nconst parsed = PARSERS[currentCmd]();\nbatteries[batKey][currentCmd] = parsed;\n\nflow.set('pylonBatteries', batteries);\n\n// -----------------------------------------------------------------------\n// 6. LOGIQUE DE BOUCLE : commande suivante ou batterie suivante\n// -----------------------------------------------------------------------\nconst nextCmdIndex = cmdIndex + 1;\n\nif (nextCmdIndex < COMMANDS.length) {\n    // Commande suivante pour la même batterie\n    flow.set('pylonCmdIndex', nextCmdIndex);\n    const nextCmd = COMMANDS[nextCmdIndex].cmd;\n    node.status({ fill: 'blue', shape: 'dot', text: `Bat ${index} – ${COMMANDS[nextCmdIndex].label}...` });\n    return [{ payload: `${nextCmd} ${index}\\n`, scanCommands: COMMANDS }, null];\n} else {\n    // Toutes les commandes exécutées → batterie suivante\n    flow.set('pylonCmdIndex', 0);\n    const nextIndex = index + 1;\n    \n    if (nextIndex <= 16) {\n        flow.set('pylonIndex', nextIndex);\n        node.status({ fill: 'blue', shape: 'dot', text: `Bat ${nextIndex} – ${COMMANDS[0].label}...` });\n        return [{ payload: `${COMMANDS[0].cmd} ${nextIndex}\\n`, scanCommands: COMMANDS }, null];\n    } else {\n        // Toutes les batteries scannées (cas max 16 atteint)\n        flow.set('pylonScanning', false);\n        const count = Object.keys(batteries).length;\n        \n        // Agrégats\n        let totalVoltage = 0, totalCurrent = 0, totalCapacity = 0, minSoc = 100, maxSoc = 0;\n        for (const b of Object.values(batteries)) {\n            const pwr = b.pwr || {};\n            if (pwr.voltage_V)     totalVoltage  += pwr.voltage_V;\n            if (pwr.current_A)     totalCurrent  += pwr.current_A;\n            if (pwr.capacity_mAh)  totalCapacity += pwr.capacity_mAh;\n            if (pwr.soc_percent !== null && pwr.soc_percent !== undefined) {\n                if (pwr.soc_percent < minSoc) minSoc = pwr.soc_percent;\n                if (pwr.soc_percent > maxSoc) maxSoc = pwr.soc_percent;\n            }\n        }\n        \n        const result = {\n            timestamp     : new Date().toISOString(),\n            battery_count : count,\n            summary: {\n                avg_voltage_V      : count ? +(totalVoltage  / count).toFixed(3) : null,\n                total_current_A    : +totalCurrent.toFixed(3),\n                total_capacity_mAh : totalCapacity,\n                min_soc_percent    : minSoc,\n                max_soc_percent    : maxSoc,\n                total_power_W      : count ? +((totalVoltage / count) * totalCurrent).toFixed(1) : null\n            },\n            batteries: batteries\n        };\n        node.warn(\"Commande active: \" + currentCmd);\n        const scanType = COMMANDS[0].cmd === 'info' ? 'INFO' : 'DATA';\n        node.status({ fill: 'green', shape: 'dot', text: `OK ${scanType} – ${count} bat. @ ${new Date().toLocaleTimeString()}` });\n        return [null, { payload: result, topic: 'pylontech/status' }];\n    }\n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":300,"wires":[["d1d67987204340da"],["bdf7a7cda1508c86","741e501b3a053af3","f67552e0547b2fd3"]]},{"id":"bdf7a7cda1508c86","type":"mqtt out","z":"099b387e066c7015","name":"MQTT → pylontech/status","topic":"pylontech/status","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fb544666f84a5fb9","x":690,"y":260,"wires":[]},{"id":"741e501b3a053af3","type":"function","z":"099b387e066c7015","name":"Discovery V3.1","func":"// ========== PYLONTECH – MQTT DISCOVERY V3 – AVEC STAT ==========\n// ✓ Support multi-commandes (pwr + stat)\n// ✓ Noms d'entités sans doublon\n// ©JLM 2025-2026\n// ================================================================\n\nconst payload            = msg.payload;\nconst discoveryPrefix    = \"homeassistant\";\nconst deviceManufacturer = \"Smartphoton / ©JLM 2026\";\nconst swVersion          = \"2.1\";\n\n// -----------------------------------------------------------------------\n// SCHÉMAS CAPTEURS PAR BATTERIE\n// -----------------------------------------------------------------------\n\n// Capteurs PWR (mesures en temps réel)\nconst PWR_SENSORS = {\n    voltage_V:     { device_class: \"voltage\",        unit: \"V\",   state_class: \"measurement\",      icon: \"mdi:flash\" },\n    current_A:     { device_class: \"current\",        unit: \"A\",   state_class: \"measurement\",      icon: \"mdi:current-dc\" },\n    power_W:       { device_class: \"power\",          unit: \"W\",   state_class: \"measurement\",      icon: \"mdi:lightning-bolt\" },\n    temperature_C: { device_class: \"temperature\",    unit: \"°C\",  state_class: \"measurement\",      icon: \"mdi:thermometer\" },\n    soc_percent:   { device_class: \"battery\",        unit: \"%\",   state_class: \"measurement\",      icon: \"mdi:battery\" },\n    capacity_mAh:  { device_class: \"energy_storage\", unit: \"mAh\", state_class: \"measurement\",      icon: \"mdi:battery-high\" },\n    max_voltage_V: { device_class: \"voltage\",        unit: \"V\",   state_class: \"measurement\",      icon: \"mdi:flash-triangle\" },\n    charge_cycles: { device_class: null,             unit: \"\",    state_class: \"total_increasing\", icon: \"mdi:counter\" }\n};\n\nconst PWR_TEXT_SENSORS = {\n    status_basic:        { icon: \"mdi:information-outline\" },\n    status_voltage:      { icon: \"mdi:flash-alert\" },\n    status_current:      { icon: \"mdi:current-ac\" },\n    status_temperature:  { icon: \"mdi:thermometer-alert\" },\n    status_coulomb:      { icon: \"mdi:battery-alert\" },\n    status_soh:          { icon: \"mdi:heart-pulse\" },\n    heater_status:       { icon: \"mdi:radiator\" },\n    bat_events:          { icon: \"mdi:bell-alert\" },\n    power_events:        { icon: \"mdi:power-plug-alert\" },\n    system_fault:        { icon: \"mdi:alert-circle\" }\n};\n\n// Capteurs STAT (statistiques & compteurs d'événements)\nconst STAT_SENSORS = {\n    soh_percent:      { device_class: \"battery\",  unit: \"%\",   state_class: \"measurement\",      icon: \"mdi:heart-pulse\" },\n    pwr_percent:      { device_class: \"battery\",  unit: \"%\",   state_class: \"measurement\",      icon: \"mdi:battery-charging\" },\n    cycle_times:      { device_class: null,       unit: \"\",    state_class: \"total_increasing\", icon: \"mdi:autorenew\" },\n    charge_times:     { device_class: null,       unit: \"\",    state_class: \"total_increasing\", icon: \"mdi:battery-charging\" },\n    idle_times:       { device_class: null,       unit: \"\",    state_class: \"total_increasing\", icon: \"mdi:sleep\" },\n    reset_times:      { device_class: null,       unit: \"\",    state_class: \"total_increasing\", icon: \"mdi:restart\" },\n    shut_times:       { device_class: null,       unit: \"\",    state_class: \"total_increasing\", icon: \"mdi:power\" },\n    pwr_coulomb:      { device_class: null,       unit: \"mAh\", state_class: \"total_increasing\", icon: \"mdi:battery-sync\" },\n    dsg_cap:          { device_class: null,       unit: \"mAh\", state_class: \"total_increasing\", icon: \"mdi:battery-minus\" }\n};\n\n// Compteurs d'alarmes (diagnostic)\nconst STAT_ALARM_SENSORS = {\n    coc_times:        { icon: \"mdi:alert\" },\n    doc_times:        { icon: \"mdi:alert\" },\n    sc_times:         { icon: \"mdi:alert-circle\" },\n    bat_ov_times:     { icon: \"mdi:battery-alert\" },\n    bat_hv_times:     { icon: \"mdi:battery-alert\" },\n    bat_lv_times:     { icon: \"mdi:battery-alert-variant-outline\" },\n    bat_uv_times:     { icon: \"mdi:battery-alert-variant-outline\" },\n    cot_times:        { icon: \"mdi:thermometer-alert\" },\n    cut_times:        { icon: \"mdi:thermometer-alert\" },\n    dot_times:        { icon: \"mdi:thermometer-alert\" },\n    dut_times:        { icon: \"mdi:thermometer-alert\" },\n    cht_times:        { icon: \"mdi:thermometer-high\" },\n    clt_times:        { icon: \"mdi:thermometer-low\" },\n    dht_times:        { icon: \"mdi:thermometer-high\" },\n    dlt_times:        { icon: \"mdi:thermometer-low\" },\n    lifewarn_times:   { icon: \"mdi:alert-decagram\" },\n    lifealarm_times:  { icon: \"mdi:alarm-light\" }\n};\n\n// Capteurs INFO (informations système - diagnostic)\nconst INFO_SENSORS = {\n    manufacturer:         { icon: \"mdi:factory\" },\n    device_name:          { icon: \"mdi:battery\" },\n    board_version:        { icon: \"mdi:chip\" },\n    board:                { icon: \"mdi:developer-board\" },\n    main_soft_version:    { icon: \"mdi:application-cog\" },\n    soft_version:         { icon: \"mdi:cog\" },\n    boot_version:         { icon: \"mdi:restart\" },\n    comm_version:         { icon: \"mdi:connection\" },\n    release_date:         { icon: \"mdi:calendar\" },\n    barcode:              { icon: \"mdi:barcode\" },\n    specification:        { icon: \"mdi:information\" }\n};\n\nconst INFO_NUMERIC_SENSORS = {\n    cell_number:          { icon: \"mdi:counter\", unit: \"\", state_class: \"measurement\" },\n    max_discharge_curr_A: { icon: \"mdi:current-dc\", unit: \"A\", state_class: \"measurement\" },\n    max_charge_curr_A:    { icon: \"mdi:current-dc\", unit: \"A\", state_class: \"measurement\" },\n    epon_port_rate:       { icon: \"mdi:network\", unit: \"bps\", state_class: \"measurement\" },\n    console_port_rate:    { icon: \"mdi:console\", unit: \"bps\", state_class: \"measurement\" }\n};\n\n\n// Résumé global\nconst SUMMARY_SENSORS = {\n    avg_voltage_V:       { device_class: \"voltage\", unit: \"V\",   state_class: \"measurement\", icon: \"mdi:flash\" },\n    total_current_A:     { device_class: \"current\", unit: \"A\",   state_class: \"measurement\", icon: \"mdi:current-dc\" },\n    total_power_W:       { device_class: \"power\",   unit: \"W\",   state_class: \"measurement\", icon: \"mdi:lightning-bolt\" },\n    total_capacity_mAh:  { device_class: null,      unit: \"mAh\", state_class: \"measurement\", icon: \"mdi:battery-high\" },\n    min_soc_percent:     { device_class: \"battery\", unit: \"%\",   state_class: \"measurement\", icon: \"mdi:battery-low\" },\n    max_soc_percent:     { device_class: \"battery\", unit: \"%\",   state_class: \"measurement\", icon: \"mdi:battery\" }\n};\n\n// -----------------------------------------------------------------------\n// CONTEXTE & DÉTECTION CHANGEMENTS\n// -----------------------------------------------------------------------\nconst discoverySentKey = \"pylontech_discoverySent\";\nconst lastBattCountKey = \"pylontech_lastBattCount\";\n\nlet discoverySent  = flow.get(discoverySentKey) || false;\nlet lastBattCount  = flow.get(lastBattCountKey) || 0;\nconst currentCount = payload.battery_count || 0;\nconst needsDiscovery = true;\n\nif (!needsDiscovery) {\n    node.debug(`⊘ Discovery: Aucun changement (${currentCount} batteries)`);\n    return null;\n}\n\n// -----------------------------------------------------------------------\n// UTILITAIRES\n// -----------------------------------------------------------------------\nfunction toLabel(key) {\n    // Supprime le suffixe d'unité (ex: _V, _A, _W, _C) avant mise en forme\n    return key.replace(/_[A-Za-z]$/, '').replace(/_/g, \" \").replace(/\\b\\w/g, c => c.toUpperCase());\n}\n\nfunction toObjId(field) {\n    // Supprime le suffixe d'unité (ex: _V, _A, _W, _C) pour l'id entité\n    return field.replace(/_[A-Za-z]$/, '').toLowerCase();\n}\n\nfunction buildSensorConfig({ uniqueId, name, stateTopic, device,\n                              deviceClass, unit, stateClass, icon, entityCategory }) {\n    const cfg = { name, unique_id: uniqueId, state_topic: stateTopic, icon: icon || \"mdi:information\", device };\n    if (deviceClass)    cfg.device_class        = deviceClass;\n    if (unit)           cfg.unit_of_measurement = unit;\n    if (stateClass)     cfg.state_class         = stateClass;\n    if (entityCategory) cfg.entity_category     = entityCategory;\n    return cfg;\n}\n\n// -----------------------------------------------------------------------\n// CONSTRUCTION MESSAGES BATTERIE INDIVIDUELLE\n// -----------------------------------------------------------------------\nfunction buildBatteryMsgs(bat) {\n    const idx       = bat.index;\n    const deviceID  = `PYLONTECH_BATTERY_${idx}`;\n    const baseTopic = `pylontech/battery/${idx}`;\n\n    const device = {\n        identifiers  : [deviceID],\n        name         : `Pylontech Battery ${idx}`,\n        manufacturer : deviceManufacturer,\n        model        : \"Pylontech US2000c / US3000 / US5000\",\n        sw_version   : swVersion,\n        via_device   : \"PYLONTECH_BATTERY_BANK\"\n    };\n\n    const msgs = [];\n\n    // --- PWR : mesures temps réel ---\n    const pwr = bat.pwr || {};\n    for (const [field, meta] of Object.entries(PWR_SENSORS)) {\n        if (pwr[field] === null || pwr[field] === undefined) continue;\n        const objId = toObjId(field);\n        const cfgTopic = `${discoveryPrefix}/sensor/${deviceID}/pwr_${objId}/config`;\n        const stTopic  = `${baseTopic}/pwr/${field}`;\n        \n        msgs.push({\n            topic: cfgTopic,\n            payload: JSON.stringify(buildSensorConfig({\n                uniqueId: `${deviceID}_pwr_${objId}`, name: toLabel(field),\n                stateTopic: stTopic, device, deviceClass: meta.device_class,\n                unit: meta.unit, stateClass: meta.state_class, icon: meta.icon\n            })),\n            retain: true, qos: 0\n        });\n        msgs.push({ topic: stTopic, payload: String(pwr[field]), retain: true, qos: 0 });\n    }\n\n    // PWR texte (diagnostics)\n    for (const [field, meta] of Object.entries(PWR_TEXT_SENSORS)) {\n        if (pwr[field] === null || pwr[field] === undefined) continue;\n        const objId = toObjId(field);\n        const cfgTopic = `${discoveryPrefix}/sensor/${deviceID}/pwr_${objId}/config`;\n        const stTopic  = `${baseTopic}/pwr/${field}`;\n        \n        msgs.push({\n            topic: cfgTopic,\n            payload: JSON.stringify(buildSensorConfig({\n                uniqueId: `${deviceID}_pwr_${objId}`, name: toLabel(field),\n                stateTopic: stTopic, device, icon: meta.icon, entityCategory: \"diagnostic\"\n            })),\n            retain: true, qos: 0\n        });\n        msgs.push({ topic: stTopic, payload: String(pwr[field]), retain: true, qos: 0 });\n    }\n\n    // --- STAT : statistiques & compteurs ---\n    const stat = bat.stat || {};\n    for (const [field, meta] of Object.entries(STAT_SENSORS)) {\n        if (stat[field] === null || stat[field] === undefined) continue;\n        const objId = toObjId(field);\n        const cfgTopic = `${discoveryPrefix}/sensor/${deviceID}/stat_${objId}/config`;\n        const stTopic  = `${baseTopic}/stat/${field}`;\n        \n        msgs.push({\n            topic: cfgTopic,\n            payload: JSON.stringify(buildSensorConfig({\n                uniqueId: `${deviceID}_stat_${objId}`, name: `Stat ${toLabel(field)}`,\n                stateTopic: stTopic, device, deviceClass: meta.device_class,\n                unit: meta.unit, stateClass: meta.state_class, icon: meta.icon,\n                entityCategory: \"diagnostic\"\n            })),\n            retain: true, qos: 0\n        });\n        msgs.push({ topic: stTopic, payload: String(stat[field]), retain: true, qos: 0 });\n    }\n\n    // STAT alarmes (compteurs d'événements)\n    for (const [field, meta] of Object.entries(STAT_ALARM_SENSORS)) {\n        if (stat[field] === null || stat[field] === undefined) continue;\n        const objId = toObjId(field);\n        const cfgTopic = `${discoveryPrefix}/sensor/${deviceID}/stat_${objId}/config`;\n        const stTopic  = `${baseTopic}/stat/${field}`;\n        \n        msgs.push({\n            topic: cfgTopic,\n            payload: JSON.stringify(buildSensorConfig({\n                uniqueId: `${deviceID}_stat_${objId}`, name: `Alarm ${toLabel(field)}`,\n                stateTopic: stTopic, device, icon: meta.icon,\n                stateClass: \"total_increasing\", entityCategory: \"diagnostic\"\n            })),\n            retain: true, qos: 0\n        });\n        msgs.push({ topic: stTopic, payload: String(stat[field]), retain: true, qos: 0 });\n    }\n\n    // --- INFO : informations système ---\n    const info = bat.info || {};\n    \n    // INFO texte\n    for (const [field, meta] of Object.entries(INFO_SENSORS)) {\n        if (info[field] === null || info[field] === undefined) continue;\n        const objId = toObjId(field);\n        const cfgTopic = `${discoveryPrefix}/sensor/${deviceID}/info_${objId}/config`;\n        const stTopic  = `${baseTopic}/info/${field}`;\n        \n        msgs.push({\n            topic: cfgTopic,\n            payload: JSON.stringify(buildSensorConfig({\n                uniqueId: `${deviceID}_info_${objId}`, name: `Info ${toLabel(field)}`,\n                stateTopic: stTopic, device, icon: meta.icon, entityCategory: \"diagnostic\"\n            })),\n            retain: true, qos: 0\n        });\n        msgs.push({ topic: stTopic, payload: String(info[field]), retain: true, qos: 0 });\n    }\n    \n    // INFO numérique\n    for (const [field, meta] of Object.entries(INFO_NUMERIC_SENSORS)) {\n        if (info[field] === null || info[field] === undefined) continue;\n        const objId = toObjId(field);\n        const cfgTopic = `${discoveryPrefix}/sensor/${deviceID}/info_${objId}/config`;\n        const stTopic  = `${baseTopic}/info/${field}`;\n        \n        msgs.push({\n            topic: cfgTopic,\n            payload: JSON.stringify(buildSensorConfig({\n                uniqueId: `${deviceID}_info_${objId}`, name: `Info ${toLabel(field)}`,\n                stateTopic: stTopic, device, icon: meta.icon,\n                unit: meta.unit, stateClass: meta.state_class, entityCategory: \"diagnostic\"\n            })),\n            retain: true, qos: 0\n        });\n        msgs.push({ topic: stTopic, payload: String(info[field]), retain: true, qos: 0 });\n    }\n\n\n    return msgs;\n}\n\n// -----------------------------------------------------------------------\n// CONSTRUCTION MESSAGES RÉSUMÉ GLOBAL\n// -----------------------------------------------------------------------\nfunction buildSummaryMsgs(summary, count) {\n    const deviceID  = \"PYLONTECH_BATTERY_BANK\";\n    const baseTopic = \"pylontech/summary\";\n\n    const device = {\n        identifiers  : [deviceID],\n        name         : \"Pylontech Battery Bank\",\n        manufacturer : deviceManufacturer,\n        model        : `Pack – ${count} module(s)`,\n        sw_version   : swVersion\n    };\n\n    const msgs = [];\n\n    // Nombre de batteries\n    msgs.push({\n        topic: `${discoveryPrefix}/sensor/${deviceID}/battery_count/config`,\n        payload: JSON.stringify(buildSensorConfig({\n            uniqueId: `${deviceID}_battery_count`, name: \"Battery Count\",\n            stateTopic: `${baseTopic}/battery_count`, device,\n            icon: \"mdi:counter\", stateClass: \"measurement\"\n        })),\n        retain: true, qos: 0\n    });\n    msgs.push({ topic: `${baseTopic}/battery_count`, payload: String(count), retain: true, qos: 0 });\n\n    // Capteurs résumé\n    for (const [field, meta] of Object.entries(SUMMARY_SENSORS)) {\n        if (summary[field] === null || summary[field] === undefined) continue;\n        const objId = toObjId(field);\n        const cfgTopic = `${discoveryPrefix}/sensor/${deviceID}/${objId}/config`;\n        const stTopic  = `${baseTopic}/${field}`;\n        \n        msgs.push({\n            topic: cfgTopic,\n            payload: JSON.stringify(buildSensorConfig({\n                uniqueId: `${deviceID}_${objId}`, name: toLabel(field),\n                stateTopic: stTopic, device, deviceClass: meta.device_class,\n                unit: meta.unit, stateClass: meta.state_class, icon: meta.icon\n            })),\n            retain: true, qos: 0\n        });\n        msgs.push({ topic: stTopic, payload: String(summary[field]), retain: true, qos: 0 });\n    }\n\n    // Timestamp\n    msgs.push({\n        topic: `${discoveryPrefix}/sensor/${deviceID}/last_scan/config`,\n        payload: JSON.stringify(buildSensorConfig({\n            uniqueId: `${deviceID}_last_scan`, name: \"Last Scan\",\n            stateTopic: `${baseTopic}/last_scan`, device,\n            deviceClass: \"timestamp\", icon: \"mdi:clock-check\", entityCategory: \"diagnostic\"\n        })),\n        retain: true, qos: 0\n    });\n    msgs.push({\n        topic: `${baseTopic}/last_scan`,\n        payload: payload.timestamp || new Date().toISOString(),\n        retain: true, qos: 0\n    });\n\n    return msgs;\n}\n\n// -----------------------------------------------------------------------\n// GÉNÉRATION & PUBLICATION\n// -----------------------------------------------------------------------\nlet allMsgs = buildSummaryMsgs(payload.summary || {}, currentCount);\n\nfor (const bat of Object.values(payload.batteries || {})) {\n    allMsgs = allMsgs.concat(buildBatteryMsgs(bat));\n}\n\nflow.set(discoverySentKey, true);\nflow.set(lastBattCountKey, currentCount);\n\nif (!discoverySent) {\n    node.warn(`✓ Discovery INITIAL – ${currentCount} bat. – ${allMsgs.length} msgs`);\n} else {\n    //node.warn(`✓ Discovery RECHARGÉ – ${lastBattCount} → ${currentCount} bat. – ${allMsgs.length} msgs`);\n}\n\nreturn [allMsgs];\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":320,"wires":[["2d2f924bf24a8b07"]]},{"id":"2d2f924bf24a8b07","type":"mqtt out","z":"099b387e066c7015","name":"MQTT → homeassistant/...","topic":"","qos":"0","retain":"true","broker":"fb544666f84a5fb9","x":900,"y":320,"wires":[]},{"id":"f67552e0547b2fd3","type":"debug","z":"099b387e066c7015","name":"Debug JSON","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":360,"wires":[]},{"id":"765316258b0ebac1","type":"inject","z":"099b387e066c7015","name":"🔄 Force Discovery","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["f9822f857033ac6c"]]},{"id":"f9822f857033ac6c","type":"function","z":"099b387e066c7015","name":"Force Discovery Reset","func":"// Forcer le re-envoi du discovery\nflow.set('pylontech_discoverySent', false);\nflow.set('pylontech_lastBattCount', 0);\nflow.set('pylonScanning', false);\nflow.set('pylonIndex', 1);\nflow.set('pylonCmdIndex', 0);\nflow.set('pylonBatteries', {});\nflow.set('pylonBuffer', '');\n\nnode.warn('🔄 Pylontech – Discovery forcé avec scan DATA...');\nnode.status({ fill: 'yellow', shape: 'ring', text: 'Discovery forcé' });\n\n// Lancer un scan DATA\nflow.set('pylonScanning', true);\nconst COMMANDS = [\n    { cmd: 'pwr',  label: 'Power Data' },\n    { cmd: 'stat', label: 'Statistics' }\n];\nmsg.payload = 'pwr 1\\n';\nmsg.scanCommands = COMMANDS;\nreturn msg;","outputs":1,"x":390,"y":220,"wires":[["d1d67987204340da"]]},{"id":"797ded03ed56ebd0","type":"debug","z":"099b387e066c7015","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":340,"wires":[]},{"id":"81d48b8d89dacd61","type":"debug","z":"099b387e066c7015","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":200,"wires":[]},{"id":"97b48676b6d5f6c4","type":"catch","z":"099b387e066c7015","name":"Catch All Errors","scope":null,"uncaught":true,"x":220,"y":520,"wires":[["a7cde8c2950e2c59"]]},{"id":"a7cde8c2950e2c59","type":"function","z":"099b387e066c7015","name":"Handle Error","func":"// Log l'erreur complète\nnode.error(`ERREUR: ${msg.error.message} | Node: ${msg.error.source.name || msg.error.source.type} (ID: ${msg.error.source.id}) | Payload original: ${JSON.stringify(msg.payload)}`);\n\n// Prépare msg pour debug ou notification\nmsg.topic = 'Node-RED Error';\nmsg.payload = {\n    message: msg.error.message,\n    source: msg.error.source,\n    timestamp: new Date().toISOString()\n};\n\n// Optionnel: Arrête la propagation si besoin\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":520,"wires":[["6dc05fc1eaa1d6aa"]]},{"id":"6dc05fc1eaa1d6aa","type":"debug","z":"099b387e066c7015","name":"Log Erreurs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":520,"wires":[]},{"id":"c48a343f14c2475a","type":"link in","z":"099b387e066c7015","name":"← BAT CSV cmd","links":["c306825727727bb5"],"x":715,"y":80,"wires":[["d1d67987204340da"]]},{"id":"54b2e5ce49236216","type":"link out","z":"099b387e066c7015","name":"BAT CSV RX →","mode":"link","links":["7a1836c7a33fafc2"],"x":295,"y":380,"wires":[]},{"id":"17232c6f6ce2f0bf","type":"inject","z":"931d640c9c0727f5","d":true,"name":"🕐 Scan BAT CSV – 24h","props":[{"p":"payload"}],"repeat":"86400","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["932539431dda1e6c"]]},{"id":"4a18702e90d87e49","type":"inject","z":"931d640c9c0727f5","name":"▶ Scan BAT CSV Manuel","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["932539431dda1e6c"]]},{"id":"932539431dda1e6c","type":"function","z":"931d640c9c0727f5","name":"Init Scan BAT CSV","func":"// ===== INIT SCAN BAT → CSV =====\n// Arrête les scans existants et démarre le scan bat\nflow.set('pylonScanning',   false);\nflow.set('pylonBatScanning', true);\nflow.set('pylonBatModule',    1);        // bat 1 à 15\nflow.set('pylonBatMaxModule', 15);\nflow.set('pylonBatBuffer',   '');\nflow.set('pylonBatData',     []);\nflow.set('pylonBatTimestamp', new Date().toISOString());\n\n// Chemin CSV – MODIFIER SELON VOTRE INSTALLATION\n// Home Assistant OS : /share/pylontech/\n// Raspberry Pi      : /home/pi/pylontech/\n// Répertoire de stockage CSV – MODIFIER SELON VOTRE INSTALLATION\n// Home Assistant OS : /share/pylontech\n// Raspberry Pi      : /home/pi/pylontech\nflow.set('pylonBatCsvDir', '/share/pylontech');\n\nnode.status({fill:'blue', shape:'dot', text:'BAT CSV – Module 1/15...'});\nnode.warn('🔵 Démarrage scan BAT CSV – 15 modules');\n\nmsg.payload = 'bat 1\\n';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":110,"wires":[["c306825727727bb5"]]},{"id":"c306825727727bb5","type":"link out","z":"931d640c9c0727f5","name":"→ TX Pylontech","mode":"link","links":["c48a343f14c2475a"],"x":575,"y":110,"wires":[]},{"id":"7a1836c7a33fafc2","type":"link in","z":"931d640c9c0727f5","name":"← RX Pylontech","links":["54b2e5ce49236216"],"x":225,"y":360,"wires":[["d1e6cd6df033fae0"]]},{"id":"d1e6cd6df033fae0","type":"function","z":"931d640c9c0727f5","name":"Process Bat → CSV","func":"// ===== PYLONTECH – PROCESS BAT → CSV =====\n// Output 1 : commande série suivante\n// Output 2 : données CSV à écrire (fichier)\n// Output 3 : debug / JSON complet\n// ==========================================\n\nif (!flow.get('pylonBatScanning')) return null;\n\n// --- Accumulation buffer ---\nlet buffer = flow.get('pylonBatBuffer') || '';\nbuffer += msg.payload;\nflow.set('pylonBatBuffer', buffer);\n\n// Attendre fin de réponse ($$ = fin de trame Pylontech)\nif (!buffer.includes('$$')) return null;\n\nflow.set('pylonBatBuffer', '');\n\nconst module    = flow.get('pylonBatModule')    || 1;\nconst maxModule = flow.get('pylonBatMaxModule') || 15;\nconst timestamp = flow.get('pylonBatTimestamp') || new Date().toISOString();\nlet   data      = flow.get('pylonBatData')      || [];\n\n// --- Détecter module absent ---\nconst absent = buffer.includes('is not present') ||\n               buffer.includes('Invalid command') ||\n               buffer.includes('Target device is not present');\n\nif (!absent) {\n    // -------------------------------------------------------------------\n    // PARSER COMPLET – ligne du tableau bat\n    // Format Pylontech :\n    // Battery  Volt  Curr  Tempr  Base State  Volt. State  Curr. State  Temp. State  SOC      Coulomb       BAL\n    // 0        3321  0     9600   Idle        Normal       Normal       Normal       90%      44785 mAH     N\n    // -------------------------------------------------------------------\n    const lines = buffer.split('\\n');\n    let parsed = 0;\n\n    for (const line of lines) {\n        const clean = line.replace(/\\r/g, '').trim();\n\n        // Regex étendue : cell volt curr temp bState vState cState tState SOC% coulombMAH bal\n        const m = clean.match(\n            /^(\\d+)\\s+(-?\\d+)\\s+(-?\\d+)\\s+(\\d+)\\s+(\\S+)\\s+(\\S+)\\s+(\\S+)\\s+(\\S+)\\s+(-?\\d+)%\\s+(\\d+)\\s+mAH\\s+(\\S+)/i\n        );\n\n        if (m) {\n            data.push({\n                ts:       timestamp,\n                mod:      module,\n                cell:     parseInt(m[1]),\n                volt:     parseInt(m[2]),   // mV\n                curr:     parseInt(m[3]),   // mA\n                temp:     parseInt(m[4]),   // m°C\n                bState:   m[5],\n                vState:   m[6],\n                cState:   m[7],\n                tState:   m[8],\n                soc:      parseInt(m[9]),   // %\n                coulomb:  parseInt(m[10]),  // mAh\n                bal:      m[11]             // Y/N\n            });\n            parsed++;\n        }\n    }\n    flow.set('pylonBatData', data);\n    node.status({fill:'blue', shape:'dot',\n        text:`Module ${module}/${maxModule} – ${parsed} cellules`});\n}\n\n// --- Module suivant ou fin ? ---\nconst nextModule = absent ? (maxModule + 1) : (module + 1);\n\nif (nextModule <= maxModule) {\n    flow.set('pylonBatModule', nextModule);\n    node.status({fill:'blue', shape:'dot',\n        text:`Module ${nextModule}/${maxModule}...`});\n    return [{payload: `bat ${nextModule}\\n`}, null, null];\n}\n\n// =============================================\n// ===== FIN DU SCAN – GÉNÉRATION CSV =====\n// =============================================\nflow.set('pylonBatScanning', false);\n\nif (data.length === 0) {\n    node.warn('⚠️ BAT CSV – Aucune donnée parsée !');\n    node.status({fill:'red', shape:'ring', text:'Aucune donnée !'});\n    return null;\n}\n\n// Nom de fichier horodaté : un fichier par scan\nconst csvDir      = flow.get('pylonBatCsvDir') || '/share/pylontech';\nconst dt          = new Date(timestamp);\nconst pad         = n => String(n).padStart(2,'0');\nconst dateStr     = `${dt.getFullYear()}-${pad(dt.getMonth()+1)}-${pad(dt.getDate())}`;\nconst timeStr     = `${pad(dt.getHours())}h${pad(dt.getMinutes())}`;\nconst csvFilename = `${csvDir}/pylontech_bat_${dateStr}_${timeStr}.csv`;\n\n// -------------------------------------------------------------------\n// CONSTRUCTION CSV\n// - BOM UTF-8     : Excel reconnaît l'encodage\n// - \"sep=;\"       : directive Excel pour forcer le séparateur ;\n//                   (évite que la virgule décimale soit confondue\n//                    avec un délimiteur de colonne)\n// - Virgule \",\"   : séparateur décimal français\n// -------------------------------------------------------------------\nconst SEP    = 'sep=;\\n';\nconst BOM    = '\\uFEFF';\nconst HEADER = 'Horodatage;Module;Cellule;Tension_V;Courant_A;Temperature_C;Etat_Base;Etat_Tension;Etat_Courant;Etat_Temp;SOC_pct;Coulomb_mAh;Equilibrage\\n';\n\nconst rows = data.map(d => [\n    d.ts,\n    d.mod,\n    d.cell,\n    (d.volt / 1000).toFixed(3).replace('.', ','),\n    (d.curr / 1000).toFixed(3).replace('.', ','),\n    (d.temp / 1000).toFixed(1).replace('.', ','),\n    d.bState,\n    d.vState,\n    d.cState,\n    d.tState,\n    d.soc,\n    d.coulomb,\n    d.bal\n].join(';')).join('\\n') + '\\n';\n\nconst csvContent = BOM + SEP + HEADER + rows;\n\nconst modulesActifs = absent ? (module - 1) : module;\nnode.status({fill:'green', shape:'dot',\n    text:`✓ ${data.length} lignes – ${modulesActifs} modules – ${timeStr}`});\nnode.warn(`✓ BAT CSV: ${data.length} cellules, ${modulesActifs} modules → ${csvFilename}`);\n\nconst jsonResult = {\n    timestamp,\n    modules_scanned: modulesActifs,\n    total_cells: data.length,\n    cells_per_module: modulesActifs > 0 ? Math.round(data.length / modulesActifs) : 0,\n    csv_file: csvFilename,\n    data\n};\n\nreturn [\n    null,\n    { payload: csvContent, filename: csvFilename },\n    { payload: jsonResult, topic: 'pylontech/bat_csv' }\n];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":280,"wires":[["c306825727727bb5"],["418028e183d25131"],["a8127a0ed3096811"]],"outputLabels":["→ Serial (cmd suivante)","→ Fichier CSV","→ Debug JSON"]},{"id":"418028e183d25131","type":"file","z":"931d640c9c0727f5","name":"📄 Écrire CSV","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":400,"y":280,"wires":[["570c361561dac4e4","3d767777422734fc"]]},{"id":"570c361561dac4e4","type":"debug","z":"931d640c9c0727f5","name":"✅ CSV écrit","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"filename","targetType":"msg","statusVal":"filename","statusType":"msg","x":590,"y":280,"wires":[]},{"id":"a8127a0ed3096811","type":"debug","z":"931d640c9c0727f5","name":"🔍 JSON complet","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":320,"wires":[]},{"id":"7058f08b30253e79","type":"comment","z":"931d640c9c0727f5","name":"📋 Configuration","info":"## Pylontech BAT → CSV\n\nCe flow interroge `bat 1` à `bat 15` toutes les heures.\nChaque ligne CSV = une cellule d'un module.\n\n### Colonnes CSV\n- **Horodatage** : ISO8601\n- **Module** : 1-15 (numéro du bloc batterie)\n- **Cellule** : 0-14 (cellule dans le bloc)\n- **Tension_V** : ex. 3.310 V\n- **Courant_A** : ex. -0.780 A (négatif = décharge)\n- **Temperature_C** : ex. 9.8 °C\n- **Etat_Base** : Dischg / Chg / Idle\n- **Etat_Tension** : Normal / High / Low\n- **Etat_Courant** : Normal / High\n- **Etat_Temp** : Normal / High / Low\n\n### Répertoire fichiers\nModifier dans la fonction Init :\n`flow.set('pylonBatCsvDir', '/share/pylontech')`\n\nUn fichier par scan : `pylontech_bat_AAAA-MM-JJ_HHhMM.csv`\n\n### Excel\nOuvrir avec Données → À partir du texte/CSV\nSéparateur : `;` | Décimale : `,`","x":460,"y":40,"wires":[]},{"id":"3d767777422734fc","type":"function","z":"931d640c9c0727f5","name":"copie vers /www","func":"if (!msg.filename) {\n    node.error(\"msg.filename est vide\");\n    return null;\n}\n\nlet source = msg.filename;\nlet destinationDir = \"/homeassistant/www\";\nlet destinationFile = destinationDir + \"/pylontech_latest.csv\";\n\nmsg.payload = `\nmkdir -p \"${destinationDir}\" && \\\ncp \"${source}\" \"${destinationFile}\"\n`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":220,"wires":[["c38ae8aa72c8a108"]]},{"id":"c38ae8aa72c8a108","type":"exec","z":"931d640c9c0727f5","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":770,"y":220,"wires":[["cb4bf5855c5b5723"],[],[]]},{"id":"cb4bf5855c5b5723","type":"debug","z":"931d640c9c0727f5","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":220,"wires":[]},{"id":"5fbae9f692eb8ca3","type":"exec","z":"931d640c9c0727f5","command":"ls /config/www -al","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":380,"y":700,"wires":[["3916f1e67b7efd7b"],[],[]]},{"id":"3916f1e67b7efd7b","type":"debug","z":"931d640c9c0727f5","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":720,"wires":[]},{"id":"eb40ae198bd31f26","type":"inject","z":"931d640c9c0727f5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":700,"wires":[["5fbae9f692eb8ca3"]]},{"id":"004327c808e2fdfe","type":"exec","z":"931d640c9c0727f5","command":"ls -al /","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":360,"y":760,"wires":[["3916f1e67b7efd7b"],[],[]]},{"id":"3b6a43a8f01ab336","type":"inject","z":"931d640c9c0727f5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":760,"wires":[["004327c808e2fdfe"]]},{"id":"caac1d30229fa366","type":"exec","z":"931d640c9c0727f5","command":"ls -al /config","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":390,"y":820,"wires":[["3916f1e67b7efd7b"],[],[]]},{"id":"736f4aac864a5cbe","type":"inject","z":"931d640c9c0727f5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":820,"wires":[["caac1d30229fa366"]]},{"id":"ha-inj-001","type":"inject","z":"ha-api-tab-001","name":"▶ Lancer requête API HA","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"payload":"","payloadType":"date","x":150,"y":80,"wires":[["ha-config-001"]]},{"id":"ha-config-001","type":"function","z":"ha-api-tab-001","name":"⚙️ Config API HA","func":"// ============================================================\n// CONFIGURATION – À MODIFIER\n// ============================================================\n\n// URL Home Assistant\n// Sur HAOS (Node-RED add-on) : http://supervisor/core\n// Sur RPi externe            : http://192.168.1.XX:8123\nconst HA_URL = '192.168.1.15:8123';\n\n// Jeton longue durée :\n// Profil HA → Sécurité → Jetons d'accès longue durée → Créer\nconst HA_TOKEN = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJkMWRlOTE1Mzk2NzA0YjA0OGFmZTNlNzEwOWM3OGQ3YiIsImlhdCI6MTc3MTUyMjg1MywiZXhwIjoyMDg2ODgyODUzfQ.PIO4H4fO3crYZ4yHKybwymO4uxbYJI8DrWUzh4t_NDY';\n\n// Filtre sur entity_id ('' = tout récupérer)\nconst ENTITY_FILTER = 'pylontech';\n\n// Répertoire de sortie CSV\nconst CSV_PATH = '/share/pylontech/pylontech_entities.csv';\n\n// ============================================================\nmsg.ha_url    = HA_URL;\nmsg.ha_token  = HA_TOKEN;\nmsg.ha_filter = ENTITY_FILTER;\nmsg.csv_path  = CSV_PATH;\nmsg.url       = HA_URL + '/api/states';\nmsg.headers   = {\n    'Authorization': 'Bearer ' + HA_TOKEN,\n    'Content-Type' : 'application/json'\n};\nnode.status({fill:'blue', shape:'dot', text:'Appel API...'});\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":80,"wires":[["ha-http-001"]]},{"id":"ha-http-001","type":"http request","z":"ha-api-tab-001","name":"GET /api/states","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"headers":[],"x":580,"y":80,"wires":[["ha-parse-001"]]},{"id":"ha-parse-001","type":"function","z":"ha-api-tab-001","name":"Filtre & Génère CSV","func":"const states = msg.payload;\nconst filter  = msg.ha_filter || '';\nconst csvPath = msg.csv_path  || '/share/pylontech/pylontech_entities.csv';\n\nif (!Array.isArray(states)) {\n    node.error('Réponse API invalide : ' + JSON.stringify(states));\n    node.status({fill:'red', shape:'ring', text:'Erreur API – vérifier URL/token'});\n    return null;\n}\n\nconst filtered = states\n    .filter(e => filter === '' || e.entity_id.toLowerCase().includes(filter.toLowerCase()))\n    .sort((a, b) => a.entity_id.localeCompare(b.entity_id));\n\nif (filtered.length === 0) {\n    node.warn('Aucune entité trouvée pour le filtre : ' + filter);\n    node.status({fill:'yellow', shape:'ring', text:'0 entité trouvée'});\n    return null;\n}\n\nconst BOM    = '\\uFEFF';\nconst SEP    = 'sep=;\\n';\nconst HEADER = 'Entity_ID;Nom_Convivial;Etat;Unite;Derniere_MAJ;Device_Class;Icon\\n';\n\nconst rows = filtered.map(e => {\n    const a = e.attributes || {};\n    return [\n        e.entity_id,\n        (a.friendly_name         || '').replace(/;/g, ','),\n        String(e.state           || '').replace(/;/g, ','),\n        (a.unit_of_measurement   || ''),\n        (e.last_changed          || ''),\n        (a.device_class          || ''),\n        (a.icon                  || '')\n    ].join(';');\n}).join('\\n') + '\\n';\n\nnode.status({fill:'green', shape:'dot', text:'✓ ' + filtered.length + ' entités → ' + csvPath});\nnode.warn('✓ ' + filtered.length + ' entités exportées → ' + csvPath);\n\nmsg.payload  = BOM + SEP + HEADER + rows;\nmsg.filename = csvPath;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["ha-file-001","ha-dbg-001"]]},{"id":"ha-file-001","type":"file","z":"ha-api-tab-001","name":"📄 Écrire CSV","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":590,"y":160,"wires":[["ha-dbg-ok-001"]]},{"id":"ha-dbg-001","type":"debug","z":"ha-api-tab-001","name":"📋 Aperçu CSV","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":240,"wires":[]},{"id":"ha-dbg-ok-001","type":"debug","z":"ha-api-tab-001","name":"✅ Fichier écrit","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"filename","targetType":"msg","statusVal":"filename","statusType":"msg","x":780,"y":160,"wires":[]},{"id":"ha-comment-001","type":"comment","z":"ha-api-tab-001","name":"📋 Mode d'emploi","info":"## Export entités Pylontech\n\n1. **Créer le jeton dans HA**\n   Profil → Sécurité → Jetons d'accès longue durée → Créer\n\n2. **Coller le jeton** dans le nœud ⚙️ Config API HA\n\n3. **Vérifier HA_URL** :\n   - HAOS add-on : `http://supervisor/core`\n   - RPi externe : `http://192.168.1.XX:8123`\n\n4. Cliquer **▶ Lancer**\n\n### CSV produit\n`/share/pylontech/pylontech_entities.csv`\n\n### Colonnes\n`Entity_ID ; Nom_Convivial ; Etat ; Unite ; Derniere_MAJ ; Device_Class ; Icon`","x":160,"y":320,"wires":[]},{"id":"c31cd350de35dd0a","type":"global-config","env":[],"modules":{"node-red-node-serialport":"2.0.3"}}]